<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        body {
            background-color: aliceblue;
        }

        h1 {
            color: blue;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
            border: 2px solid brown;
            border-radius: 10px;
        }
    </style>
</head>

<body>
    <h1>Welcome to ContextApp</h1>
    <hr>

    <h2>Welcome, {{nm}}</h2>
    <hr>
    <h1>Your Random Number: {{num}}</h1>
</body>

</html>