<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <style>
        body {
            background-color: aliceblue;
        }

        h1 {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: blue;
            text-align: center;
            border: 2px dashed lightcoral;
            border-radius: 10px;
        }
    </style>
</head>

<body>
    <h1>Welcome to Contact Page</h1>
    <hr>

    <a href="/">Home</a>
    <a href="/about">About</a>
</body>

</html>