<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome | Home</title>
    <style>
        body {
            background-color: aliceblue;
        }

        h1 {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: blue;
            text-align: center;
            border: 2px dashed lightcoral;
            border-radius: 10px;
        }
    </style>
</head>

<body>
    <h1>Welcome to Home Page</h1>
    <hr>

    <a href="/about">About</a>
    <a href="/contact">Contact</a>

    <hr>
    <img src="/static/Images/lp1.jpg" height="200" width="200">
    <img src="/static/Images/lp2.jpg" height="200" width="200">
    <img src="/static/Images/lp3.jpg" height="200" width="200">
</body>

</html>